.modal {
  border: 2px solid rgb(136, 215, 83);
  animation: fade-out 500ms ease-out;
  max-width: 500px;
  &[open] {
    animation: fade-in 500ms ease-out;
  }
  &[open]::backdrop {
    animation: backdrop-fade-in 500ms ease-out forwards;
  }
  &::backdrop {
    background-color: rgba(173, 216, 230, 75%);
    animation: backdrop-fade-out 500ms ease-out forwards;
    padding: 2rem;
  }

  & > button {
    display: inline-block;
    padding: 5px 10px;
    background-color: rgb(9, 98, 166);
    color: white;
    border: none;
    margin-right: 15px;
    border-radius: 5px;
  }
  @media (min-width: 768px) {
    max-width: 320px;
  }
  @media (min-width: 900px) {
    max-width: 500px;
  }
  max-width: 65%;
}

.modalBody {
  margin-block-end: 30px;
  height: 72px;
  overflow: auto;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    display: none;
  }

  100% {
    opacity: 1;
    display: block;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    display: block;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes backdrop-fade-in {
  0% {
    background-color: rgba(173, 216, 230, 0);
  }

  100% {
    background-color: rgba(173, 216, 230, 75%);
  }
}

@keyframes backdrop-fade-out {
  0% {
    background-color: rgba(173, 216, 230, 75%);
  }

  100% {
    background-color: rgba(173, 216, 230, 0);
  }
}
